{
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-organize-imports"],
  "pluginSearchDirs": false,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
